In [2]:
import seaborn as sns
tips_df = sns.load_dataset('tips')
.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
tips_df.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [4]:
tips_df.isnull().values.any()

False

In [5]:
tips_df.isnull().any()

total_bill    False
tip           False
sex           False
smoker        False
day           False
time          False
size          False
dtype: bool

In [7]:
# transformar label en valor numerico
from sklearn.preprocessing import LabelEncoder 
label_encoding = LabelEncoder()


tips_df.iloc[:,[2,3,4,5]] = tips_df.iloc[:,[2,3,4,5]].apply(label_encoding.fit_transform)

In [8]:
tips_df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [9]:
# usar one hot encoder after labelencoder para separar las categorias de cada col en tantas col como categorias hay
from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer

In [16]:
oh_encoding = ColumnTransformer([('OneHotEncoding', OneHotEncoder(drop='first'), [2,3,4,5])],remainder='passthrough')
tips_df_ohe = oh_encoding.fit_transform(tips_df)
tips_df_ohe

array([[ 0.  ,  0.  ,  0.  , ..., 16.99,  1.01,  2.  ],
       [ 1.  ,  0.  ,  0.  , ..., 10.34,  1.66,  3.  ],
       [ 1.  ,  0.  ,  0.  , ..., 21.01,  3.5 ,  3.  ],
       ...,
       [ 1.  ,  1.  ,  1.  , ..., 22.67,  2.  ,  2.  ],
       [ 1.  ,  0.  ,  1.  , ..., 17.82,  1.75,  2.  ],
       [ 0.  ,  0.  ,  0.  , ..., 18.78,  3.  ,  2.  ]])

In [17]:
# estandarizar el data frame del one hot encoder usando MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

minmax = MinMaxScaler()
tips_df_std = minmax.fit_transform(tips_df_ohe)
tips_df_std

array([[0.        , 0.        , 0.        , ..., 0.29157939, 0.00111111,
        0.2       ],
       [1.        , 0.        , 0.        , ..., 0.1522832 , 0.07333333,
        0.4       ],
       [1.        , 0.        , 0.        , ..., 0.3757855 , 0.27777778,
        0.4       ],
       ...,
       [1.        , 1.        , 1.        , ..., 0.41055718, 0.11111111,
        0.2       ],
       [1.        , 0.        , 1.        , ..., 0.30896523, 0.08333333,
        0.2       ],
       [0.        , 0.        , 0.        , ..., 0.32907415, 0.22222222,
        0.2       ]])

In [18]:
# standard scaling 
from sklearn.preprocessing import StandardScaler

zs = StandardScaler()
tips_df_std = zs.fit_transform(tips_df_ohe)
tips_df_std

array([[-1.34335316e+00, -7.84789169e-01, -7.44405889e-01, ...,
        -3.14711305e-01, -1.43994695e+00, -6.00192629e-01],
       [ 7.44405889e-01, -7.84789169e-01, -7.44405889e-01, ...,
        -1.06323531e+00, -9.69205340e-01,  4.53382921e-01],
       [ 7.44405889e-01, -7.84789169e-01, -7.44405889e-01, ...,
         1.37779900e-01,  3.63355539e-01,  4.53382921e-01],
       ...,
       [ 7.44405889e-01,  1.27422758e+00,  1.34335316e+00, ...,
         3.24629502e-01, -7.22971264e-01, -6.00192629e-01],
       [ 7.44405889e-01, -7.84789169e-01,  1.34335316e+00, ...,
        -2.21286504e-01, -9.04025732e-01, -6.00192629e-01],
       [-1.34335316e+00, -7.84789169e-01, -7.44405889e-01, ...,
        -1.13228903e-01,  1.24660453e-03, -6.00192629e-01]])

In [25]:
import pandas as pd
data = pd.read_csv(r"C:\Users\Jeronimo\Desktop\amazon_cells_labelled.txt", sep='\t', header=None)
data.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [26]:
# separar las dos col
X = data.iloc[:, 0]
y= data.iloc[:,1]

In [28]:
# procesamiento del texto - primer paso usando CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(stop_words='english')
X_vec = vectorizer.fit_transform(X)
X_vec.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [31]:
# ahora se pasa a tf-idf para darle un score a las palabras - una importancia
from sklearn.feature_extraction.text import TfidfTransformer

tfidf = TfidfTransformer()
X_tfidf = tfidf.fit_transform(X_vec)
X_tfidf = X_tfidf.todense()
X_tfidf

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [32]:
# dividir en train and test 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_tfidf, y, test_size=0.25, random_state=0)

In [35]:
# vamos a entrenar el modelo con naive bayes
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB()

In [36]:
# dato el fit, ahora podemos usar el y_predicte
y_pred = clf.predict(X_test)

In [37]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[ 87,  33],
       [ 20, 110]], dtype=int64)

In [38]:
clf.score(X_test, y_test) # mide la accuracy

0.788

In [39]:
# sentiment analysis
from sklearn.svm import SVC # vector que separa los clusters

classifier = SVC(kernel='linear') 
classifier.fit(X_train, y_train)

SVC(kernel='linear')

In [40]:
y_pred = classifier.predict(X_test)

In [41]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[102,  18],
       [ 33,  97]], dtype=int64)

In [42]:
classifier.score(X_test, y_test)

0.796

In [43]:
# pickling - saving code for future use
import pickle
pickle.dump(vectorizer, open("vectorizer_sa","wb"))
pickle.dump(classifier, open("nb_sa","wb"))

In [49]:
# funcion para analisis de sentimientos
def sentiment_pred(classifier, training_matrix, doc):
    """function to predict the sentiment of a product review 
    classifier: pre trained model
    training_matrix: matrix of features associated with the trained model
    doc= product review whose sentiment needs to be identified"""
    X_new = training_matrix.transform(pd.Series(doc))
    X_new = X_new.todense()
    #do not use fit and transform because the model is fit
    from sklearn.feature_extraction.text import TfidfTransformer
    tfidf = TfidfTransformer()
    X_tfidf_new = tfidf.fit_transform(X_new)
    X_tfidf_new = X_tfidf_new.todense()
    
    y_new = classifier.predict(X_tfidf_new)
    if y_new[0] == 0:
        return "negative sentiment"
    elif y_new[0] == 1:
        return "positive sentiment"

In [62]:
nb_clf = pickle.load(open("nb_sa", "rb")) # SVC linear entrenado con los review de amazon
vectorizer = pickle.load(open("vectorizer_sa", "rb")) # countvectorizer
new_doc = "The gadget works like a charm. Very satisfied with the product" 
sentiment_pred(nb_clf,vectorizer, new_doc)

'positive sentiment'

In [63]:
new_doc = "This product suck"

In [64]:
new_doc = "sucks product This  "
sentiment_pred(nb_clf,vectorizer, new_doc)

'negative sentiment'